<h1>DETAILS</h1>

<table>
<thead>
<tr>
    <th>
        name
    </th>
</tr>
</thead>

<tbody>
<% @student.each do |student| %>
<tr>
    <td><%= student.name %> </td>
</tr>
<% end %>
</tbody>

</table>
